[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-timeout = "*"
pytest-rerunfailures = "*"
allure-pytest = "*"
funnylog = "*"
click = "*"
rich = "*"
requests = "*"
youqu-dogtail = "*"
pytest-mark-manage = "*"

[dev-packages]

[requires]
python_version = "3.7"
python_full_version = "3.7.3"
