[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-timeout = "*"
pytest-rerunfailures = "*"
pyscreeze = "==0.1.28"
pyautogui = "==0.9.53"
allure-pytest = "*"
funnylog = "*"
pdocr-rpc = "*"
image-center = "*"
youqu-dogtail = "*"

[dev-packages]

[requires]
python_version = "3.7"
python_full_version = "3.7.3"
